*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #dddd;
}

#topBanner{
  background-color: bisque;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

header{
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 25px 0px;
}

.btnContainer{
  display: flex;
  justify-content: center;
}

#addBook{
  font-size: 25px;
  border-radius: 5px;
  padding: 3px 25px;
}

#addBook:hover, .readBtn:hover{
  background-color: rgb(162, 162, 162);
  transition: .3s;
  cursor: pointer;
}

/* ######################### Popup #################### */

#popup{
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  font-size: 24px;
}

.addBlur{
  backdrop-filter: blur(3px);
}

#formContent{
  margin: 15% auto;
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: bisque;
  overflow: auto;
}

.popupHeader{
  display: flex;
  justify-content: space-between;
}

.formClose{
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.formClose:hover{
  color:black;
  cursor: pointer;
  transition: .3s;
}

.formInfo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input#title, input#author, input#pages{
  height: 28px;
  width: 200px;
  font-size: 20px;
  border: 1px #fff solid;
  border-radius: 3px;
}

input#title:focus, input#author:focus, input#pages:focus{
  outline-style: none;
  border: 1px rgb(151, 151, 151) solid;
  border-radius: 3px;
}

#addBtn{
  font-size: 24px;
}

/* ######################### Library Section #################### */

#libraryContainer{
  background-color: #dddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.libraryBook{
  display: flex;
  flex-direction: column;
  margin: 15px 0px 0px 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  gap:15px;
  min-width: 200px;
}

.titleInfo, .authorInfo, .pageInfo{
  font-size: 25px;
}

.readBtn{
  font-size: 20px;
  border-radius: 5px;
  padding: 3px 25px;
}